<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <h1>Identify</h1>
    <form id="loginForm" action="/identify/" method="POST">
        <div>
            <label for="userID">user ID</label>
            <input type="text" id="userID" name="userID" required>
        </div>

        <div>
            <label for="password">password</label>
            <input type="password" id="password" name="password" required>
        </div>


        <button type="submit">Login</button>
    </form>
</body>

</html>