<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <header>
        <h1>Welcome to the Application</h1>
    </header>
    <main>

        <a href="/identify">Identify Yourself</a> <!-- Link to the identify page -->
    </main>
    <footer>
        <p>&copy; 2024 Lab4</p>
    </footer>
    <script src="/js/scripts.js"></script> <!-- Link to your JS file -->
</body>

</html>